.notify_block {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.block_msg {
    width: 78%;
    margin: 3% auto;
}

.block {
    width: 50vw;
    margin: 3% auto;
    text-align: center;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    padding: 10% 0% 10%;
    background-color: white;
    box-shadow: 0 0 30px black;
}

.block svg {
    font-size: 5vw;
    color: rgb(0, 161, 0);
    margin: 3% 0 1%;
    text-decoration: underline;
}

.block p {
    font-size: 1.2vw;
    width: 80%;
    word-spacing: 2px;
    margin: 1% auto;
}

.block p:nth-child(2) {
    font-size: 1.2vw;
    color: green;
    margin-bottom: 3%;
}

.block p:nth-child(3) {
    margin-bottom: 2%;
}
.block a {
    font-size: 1.3vw;
    font-weight: 500;
    color: rgb(223, 0, 0);
}

#echec svg {
    color: red;
}

#echec p:nth-child(2) {
    color: red;
    margin-bottom: 2%;
}

@media screen and (max-width: 620px) {
    .notify_block {
        flex-direction: column;
        width: 95%;
    }

    .block_msg {
        width: 100%;
    }

    .block {
        width: 90%;
    }

    .block svg {
        font-size: 13vw;
        margin-bottom: 2%;
    }
    
    .block p {
        font-size: 2.5vw;
        margin-bottom: 1%;
    }
    
    .block a {
        font-size: 2.3vw;
    }
}