.block_piece {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 8%;
}

.block_content {
    width: 65%;
}

.block_content h1 {
    font-size: 2.2vw;
    margin-bottom: 5%;
}

.div_section {
    width: 90%;
    height: max-content;
    margin-bottom: 0%;
    padding: 2% 0 0% 1.5%;
}
.div_section h3 {
    font-size: 1.5vw;
}

#bc {
    background-color: rgb(238, 236, 236);
    padding-bottom: 2%;
    border-radius: 3px;
}

.block_content p {
    font-size: 1.2vw;
    margin: 1% 0 1% 0%;
    word-spacing: 2px;
}

.div_section p b {
    font-size: 1.2vw;
    margin-top: 3%;
}

.div_section p {
    margin-left: 4%;
}

.block_content p a {
    font-size: 1.1vw;
    color: rgb(0, 0, 250);
    margin-left: 1%;
}

.btn_r {
    color: red;
}

@media screen and (max-width: 620px) {
    
    .block_piece {
        width: 95%;
        flex-direction: column;
    }

    .block_content {
        width: 100%;
        margin-bottom: 5%;
    }

    .block_content h1 {
        font-size: 5vw;
    }
    .block_content p {
        font-size: 3vw;
    }

    .div_section h3 {
        font-size: 4vw;
    }
}